@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
*{
	margin: 0;
	padding: 0;
}
ul{

	float: right;
	text-decoration-style: none;
	 list-style-type: none;
	margin-top: 25px;

}
header
{
	background-color: black;
	height: 100px;
	padding: 8px 0px 6px 40px;
	height: 60px;

	background-size:cover; 
}

ul li{
	display: inline-block;
	font-family: 'Monserrat', sans-serif;
	font-weight: 400;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	transition: 0.6s ease;
	
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.logo{
	float: left;
	height:auto;
}
header h1{
		
	 font-family: 'Oswald', sans-serif;
	  color: white;
	  font-weight: 400px;
	  border: 1px solid transparent;
	  display: inline-block;
	  padding: 5px;
}

.main{
	max-width: 1400px;
	margin: auto;
}
.slidder{
	
	
	background-size: cover;
	background-position: center;
	margin: none;
}
	
